<form class="creation-page" #f="ngForm">
    <div class="header">
        <div class="header-item">
            Time
            <input #timeRef="ngModel" [(ngModel)]="timeProp" name="date" type="time">
        </div>
        <div class="header-item">
            date
            <input #dateRef="ngModel" [(ngModel)]="dateProp" name="time" type="date">
        </div>
        <div class="header-item">
            duration in minutes
            <input #durationRef="ngModel" [(ngModel)]="durationProp" type="number">
        </div>
        <!-- <div class="header-item">
            want to shuffle
            <input #shuffleProp="ngModel" [(ngModel)]="shuffleProp" type="radio">

        </div> -->
    </div>

    <div class="question-body" >
        <div class="buttons buttonsup">
            <button (click)="prev()">prev</button>
            <button>ques no {{questionsObj.length + 1}}</button>
            <button (click)="submit()">next</button>
            
            
        </div>
        <input #quesRef="ngModel" [(ngModel)]="quesProp" name="question" type="text" placeholder="Enter Your Question Here" required>
        <input #opt1Ref="ngModel" [(ngModel)]="opt1Prop" name="opt1" type="text" placeholder="Option 1">
        <input #opt2Ref="ngModel" [(ngModel)]="opt2Prop" name="opt2" type="text" placeholder="Option 2">
        <input #opt3Ref="ngModel" [(ngModel)]="opt3Prop" name="opt3" type="text" placeholder="Option 3">
        <input #opt4Ref="ngModel" [(ngModel)]="opt4Prop" name="opt4" type="text" placeholder="Option 4">
        <input #ansRef="ngModel" [(ngModel)]="ansProp" name="question" type="text" placeholder="Correct answer 1 or 2 or 3 or 4">
        <div class="buttons">
            <!-- <button (click)="submit()">next</button> -->
            <button type="submit" (click)="submitToDb()">submit</button>
        </div>
        
    </div>
    
</form>
