<head>
    <script src="https://kit.fontawesome.com/80c909d8f3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="home">
   
    <div class="left">
        <h1>Make Your Learning Worth By Practicing Rigorously</h1>
    </div>
    <!-- <div class="middle">
        <div class="middle-left">

        </div>
        <div class="middle-right">

        </div>
    </div> -->
    <div class="right">
        
        <div class="right-child">
            <div class="div">
                <h2> Student Or A Teacher</h2>
            </div>
            <div class="right-child-left">
                <div class="teacher-login">
                    <h3>Teacher Login</h3>
                    <p>Login As a teacher and Take your tests from home</p>
                    <button>Teacher Login</button>
                </div>
                <div class="teacher-login">
                    <h3>Student Login</h3>
                    <p>Test Ahead!! Login And Attempt</p>
                    <button>Student Login</button>
                </div>
                

            </div>
            <div class="right-child-right">

            </div>
        </div>


        <ul>
            <li>Live Tests From Home</li>
            <li>Enhance Your Skills</li>
            <li>Preparation For Future</li>

            <li>Automatic Evaluation</li>
            <li>Just a morden browser is needed</li>
        </ul>
    </div>
</div>
</body>
