<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



<div class="main">
<form class="SignUpForm" #f="ngForm">
    <div class="important" *ngFor="let que of questions ; let i = index;">
        <div class="form-group">
      
            <input #nameref="ngModel" [(ngModel)]="que.question" name="name" type="text" class="form-control" placeholder="Your question" id="name">
           
        </div>
        <div class="form-group">
        
            <input #emailref="ngModel" [(ngModel)]="opt1Prop" name="email" type="text" class="form-control" placeholder="Option 1" id="uname">
         
        </div>
        <div class="form-group">
           
            <input #emailref="ngModel" [(ngModel)]="opt2Prop" name="mobile" type="text" class="form-control" placeholder="Option 2" id="mobile">
           
        </div>
        <div class="form-group">
           
            <input #emailref="ngModel" [(ngModel)]="opt3Prop" name="email" type="text" class="form-control" placeholder="Option 3" id="email">
            
        </div>
        <div class="form-group">
            
            <input #passref="ngModel" [(ngModel)]="opt4Prop" name="password" type="text" class="form-control" placeholder="Option 4" id="pass">
            
        </div>
        <div class="form-group">

            <input #passref="ngModel" [(ngModel)]="ansProp" name="password" type="text" class="form-control" placeholder="Correct answer" id="cpass">
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary" (click)="update()">SignUp</button>
</form>
</div> -->


<div class="main">
    <form class="form" #f1="ngForm">

    
    <table class="table">
        <thead>
            <tr>
                <th>Exam Time</th>
                <th>Exam Date</th>
                <th>Exam Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="time" [(ngModel)]="time" name="time"></td>
                <td><input type="date" [(ngModel)]="date" name="date"></td>
                <td><input type="number"[(ngModel)]="duration" name="duration"></td>
            </tr>
        </tbody>
        <button (click)="update()">Update</button>
    </table>
</form>


<form class="All" #f="ngForm">
    <h2>Your Created Question Paper</h2>
    <div class="AllQues" *ngFor="let que of questions;let i = index">
        <div class="Ques">
            <h3>Question: {{que.question}}</h3>
            <div class="Ans">
                <p>option a: {{que.opt1}}</p>
                <p>option b: {{que.opt2}}</p>
                <p>option c: {{que.opt3}}</p>
                <p>option d: {{que.opt4}}</p>
                <p>ans: {{que.ans}}</p>
                <!-- console.log("a" + {{i+1}}) -->
            </div>
        </div>
    </div>
    <!-- <button type="submit" class="button" (click)="update()">
        <h4>update</h4>
    </button> -->

</form>
<div class="container" >
    <h2>Students who appeared in the exam</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody *ngFor="let std of students">
            <tr>
                <td>{{std.name}}</td>
                <td>{{std.email}}</td>
                <td>{{std.marks}}</td>
            </tr>
        </tbody>
    </table>
    <!-- <p>Name :{{std.name}}</p>
    <p>Marks : {{std.marks}}</p>
    <p>Submitted ans:{{std.submittedAns}}</p> -->
</div>


</div>