<script src="https://kit.fontawesome.com/80c909d8f3.js" crossorigin="anonymous"></script>

<header class="header">
    <div class="left">
        <span> <i class="fas fa-bars"></i> </span>
        <span class="logo">ExamBuzz</span>
        <span> </span>
    </div>
    <div class="right">
        <span id="plus" routerLink="modal"><i class="fas fa-plus-circle"></i></span>
        <!-- <span class="acc">O</span> -->
    </div>
</header>

<!-- <script src="../../assets/scripts/modal-class.js"></script> -->