/* You can add global styles to this file, and also import other style files */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style-type: none;
    
    color:#edf0f1;
}
body{
    /* background-color:rgba(36,27,42,0.9); */
    background-color: rgb(255,207,89);

    
}

