<div [class]="dynamicbg" id="modal-bg">
    <div class="modal">
        <!-- <div class="inputbox">
            <input type="text" name="examname" placeholder="Exam Name">
        </div> -->
        <div class="inputbox">
            <input type="text" placeholder="exam id">
        </div>
        <div class="inputbox">
            <input type="text" placeholder="exam password">
        </div>
        <span class="close" (click)="changeClass()">X</span>
        <div class="inputbox">
            <button>Join exam</button>
        </div>
    </div>
    
</div>

