<div [class]="dynamicbg" id="modal-bg">
    <form class="modal" #f="ngForm">
        <!-- <div class="inputbox">
            <input type="text" name="examname" placeholder="Exam Name">
        </div> -->
        <div class="inputbox">
            <input #examIdRef="ngModel" [(ngModel)]="examIdProp" name="examIdRef" type="text" placeholder="exam id">
        </div>
        <div class="inputbox">
            <input #examPassRef="ngModel" [(ngModel)]="examPassProp" name="examPassRef" type="text" placeholder="exam password">
        </div>
        
        <div class="inputbox">
            <button (click)="join()">Join exam</button>
        </div>

        <span class="close" (click)="changeClass()">X</span>
    </form>

    
</div>

